:root {
    --main-color: #212121;
    --main-background: #ffffff;
    --button: #2196F3;
    --footer: #2F303A;
    --button-active:#188CE8 ;
    --logo2: #000000;
    --contact: #757575;
    --team: #F5F4FA;
    --mail: rgba(255, 255, 255, 0.6);
    --line: #ececec;
    --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --image-border: #EEEEEE;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--main-background);
}
.container {
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
h1,h2,h3,p,ul {
    margin-top: 0;
    margin-bottom: 0;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}  
.header {

    outline: 1px solid var(--line);
}
.logo1 {
   
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--button);
    text-decoration: none;
}
.logo1-down {
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--button);
    text-decoration: none;    
}
.logo2 {
    color: var(--logo2);   
}

.logo3 {
    color: var(--main-background);    
}
.nav,.contacts {
    display: flex;
    list-style-type: none;
}
.main-nav {
    display: flex;
    align-items: center;
}
.nav .current {
    color: var(--button);
    
}
.nav .nav-item + .nav-item {
    margin-left: 50px;
}
.contacts .contacts-item + .contacts-item { 
    margin-left: 50px;
}
.contacts {
    margin-left: auto;
}


.top1,
.top2,
.top3,
.top4,
.top5 {
    display: block;
    padding: 32px 0 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color); 
}
.top4,
.top5 {
    color: var(--contact);
}
   
.top1:hover,
.top2:hover,
.top3:hover,
.top4:hover,
.top5:hover,
.top1:focus,
.top2:focus,
.top3:focus,
.top4:focus,
.top5:focus {
    color: var(--button);
  }

/*main*/
.main {
    text-align: center;
    background: var(--footer); 
    padding: 200px 0 200px 0;
      
}
.slogan {
    display: block;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    text-align: center;
    color: var(--main-background);

}
.order-button {
    padding: 10px 32px;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-background);  
    letter-spacing: 0.06em;
    background-color: var(--button);
    border-radius: 4px;
    border-color: transparent;
    border: 1px solid var(--button);
    cursor: pointer;
}
.order-button:hover,
.order-button:focus {

    background-color: var(--button-active);  
}
/*features*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.feature-list {
    display: flex;
} 
.feature-item {
    display: flex;
    
}
.feature-list .feature-item {  
    width: 270px;    
    flex-direction: column;
}
.feature-list .feature-item + .feature-item {
    margin-left: 30px;
}

.feature  {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);  
}
.benefit {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact);    
}
/*work*/
.works {
    padding-bottom: 94px;
}
.work {
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color); 
    text-align: center;   
}
.work-list {
    display: flex;
    list-style-type: none;
}

.work-item {
    display: flex;
}
.work-list .work-item + .work-item {
    margin-left: 30px;
}
/*team*/
.team {
    padding: 94px 0 94px 0;
    background-color: var(--team);       
}
.group {
    display: flexbox;
}
.team-title {
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);    
}
.team-list {
    display: flex;
    list-style-type: none;   
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: var(--main-background);
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--box-shadow);
}
.team-list .card + .card {
    margin-left: 30px;
}
.name {
    display: block;
    padding-top: 30px;
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.position {
    display: block;
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--contact);    
}
.footer {   
    background: var(--footer);
    padding: 60px 0 60px 0;
}
.address {
    margin-top: 20px;
}
.address-list {
    list-style-type: none;
    padding: 0;
}
.map {  
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;  
    color: var(--main-background);
}
.mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--mail);
}
.tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--mail);
}
.email {
    margin: 9px 0 9px 0;
}
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
    color: var(--button);
}

.portfolio {
    padding: 94px 0 94px 0;
}                         
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    list-style-type: none;
    text-decoration: none;
}
.menu-button {    
    padding: 6px 22px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--team);
    border-radius: 4px;
    border-color: transparent;  
    border: 1px solid var(--team);  
    cursor: pointer;
}
.button-list .radio-button + .radio-button {
    margin-left: 8px;
}

.menu-button:hover,
.menu-button:focus {
    background-color: var(--button);
    color: var(--main-background);
}   

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
    list-style-type: none;
}
.flex-element {
    display: flex;
    width: 370px;
    margin: 15px;
    border: 1px solid var(--image-border);
}

.image-item {
    text-decoration: none;   
    
}
.image-name { 
    padding: 20px 24px 4px 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);  
}

.image-attribute {
    padding: 0 24px 20px 24px;
    font-size: 16px;
    line-height: 1.85;
    letter-spacing: 0.03em;
    color: var(--contact);  
}
